/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
}

body {
  padding-right: 3%;
  padding-left: 3%;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1.25rem;
}


/******************************************
/* LAYOUT
/*******************************************/

/**** NAV SECTION ****/ 
nav ul {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding: 0;
}

li.logo  {
  margin-right: auto;
}

/**** HERO SECTION ****/

.hero-section, 
.hero-text-container, 
.hero-text-container > section, 
.image-container-outer, 
.image-container-middle,
.image-container-inner,
.hero-section figure {
  display: flex;
}

.hero-text-container,
.image-container-outer {
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-around;
}

.hero-section {
  height: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.image-container-outer {
  align-items: center;
  height: 85%;
  background: grey;
  border-radius: 10%;
  flex-basis: 30%;
}

.image-container-middle {
  height: 75%;
  width: 85%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.image-container-inner {
  height: 50%;
  width: 50%;
  background: darkblue;
  justify-content: center;
  align-items: center;
}

.hero-section figure {
  justify-content: center;
  align-items: center
}

.fa-image {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.hero-text-container > section {
  gap: 5%;
  flex-wrap: wrap;
}

.hero-text-container .rectangle-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**** Brand Logos ****/
.brand-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 50px;  
}

.brand-logos img {
  width: auto;
}

/*** SECTIONS WITH LARGE IMAGE ON L SIDE ***/
.image-left {
  display: flex;
  justify-content: flex-start;
  margin: 50px 0;
  height: 500px;
  gap: 75px;
}

.image-left > section:first-child {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: center;
}

.image-left > section:last-child {
  display: flex;
  flex-direction: column;

}

.image-left-container {
  display: flex;
  width: 90%;
  height: 90%;
  background: navy;
  justify-content: center;
}

.image-left-container figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.rectangle-button {
  width: 200px;
  height: 50px;
  background: gray;
  color: white;
  border-radius: 5%;
}