/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 16px;
}

body {
  padding-right: 3%;
  padding-left: 3%;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/**** NAV SECTION ****/ 
nav, 
nav figure, 
nav ul, 
nav li {
  display: flex;
  justify-content: space-between;
}

nav figure {
  align-items: center;
}

nav ul {
  justify-content: space-around;
  flex-basis: 60%;
}

/**** HERO SECTION ****/

.hero-section, 
.hero-text-container, 
.hero-text-container > section, 
.image-container-outer, 
.image-container-middle,
.image-container-inner,
figure {
  display: flex;
}

.hero-text-container,
.image-container-outer {
  flex-direction: column;
  flex-basis: 40%;
  justify-content: space-around;
}

.image-container-outer {
  align-items: center;
  height: 85%;
  background: grey;
  border-radius: 10%;
  flex-basis: 35%;
}

.image-container-middle {
  height: 75%;
  width: 85%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.image-container-inner {
  height: 50%;
  width: 50%;
  background: darkblue;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center
}

.fa-image {
  color: white;
}

.hero-section {
  height: 300px;
  justify-content: space-between;
  align-items: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
